//- success.jade
doctype html
html(lang='en')
    head
        title  Success
        //- load bootstrap css
        link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
        //- Load fonts
        link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
        link(rel="stylesheet" href="/stylesheets/mapstyle.css" )
        //- JQuery
        script(src="https://code.jquery.com/jquery-2.0.2.min.js")
        style.
            .btn-thumb{
                margin-top: 3px;
                margin-bottom: 3px;
                height:75px;
                text-align: center;
                padding-top: 15px;
                font-weight: 500;
                font-size:28px;
            }

    body(style='padding-top:100px;')
        div.alert.alert-success(role="alert")
            p Your planning have been succesfully saved.
            a.alert-link(href="/profile" ) Go back home
    script.
        setTimeout(function () {
        window.location.href = "/profile"; 
        }, 3000);